# Reviewers automatically requested for matching paths.

# Default owner for everything in the repo.
*               @trants @pszyn

# Stack definitions.
/stacks/        @trants @pszyn

# Backup scripts.
/backup/        @trants @pszyn

# Terraform configuration.
/terraform/     @trants @pszyn

# Documentation.
/docs/          @trants @pszyn
